<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title> 
<link rel="stylesheet" href="{{ url_for('static', filename='./node_modules/bootstrap/dist/css/bootstrap.css') }}">
<nav class = "p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <div class = "p-2 mx-3 bg-primary rounded-3">
            <a href="{{ url_for('index') }}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <img src="{{ url_for('static', filename='pdfhandler_logo.svg') }}" width = "35 em" class = ""></img>
            </a>
          </div>

          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{{ url_for('index') }}" class="nav-link px-2 text-secondary">Home</a></li>
            <li><a href="{{ url_for('pdfhandler.upload') }}" class="nav-link px-2 text-white">PDFhandler</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
            <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
            <li><a href="#" class="nav-link px-2 text-white">About</a></li>
          </ul>
  
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
          </form>
  
          <div class="text-end align-middle">
            {% if g.user %}
              <span class = "px-1">{{ g.user['username'] }}</span>
              <a type="button" class="btn btn-outline-warning me-2" href = "{{ url_for('auth.logout') }}">Logout</a>
            {% else %}
              <a type="button" class="btn btn-outline-light me-2" href = "{{ url_for('auth.login') }}">Login</a>
              <a type="button" class="btn btn-warning" href = "{{ url_for('auth.logout') }}">Sign-up</a>
            {% endif %}
          </div>
        </div>
    </div>
</nav>
<section class="content container py-3">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>